h1 {
    font-size: 4rem;
    margin-top: 0.25em;
}

#map {
    min-height: 20em;
}

@media screen and (min-width: 1024px) {
    #img {
        max-height: 480px;
    }
    #img img {
        object-position: bottom;
    }
}
