body {
    height: 100vh;
    background: linear-gradient(-45deg, #324FB3, #330867, #ff0844, #ffb199)
    no-repeat 50% 50% / 400% 400%;
    animation: gradBg 4s ease forwards;
}

h1 {
    font-size: 2rem;
}

#textarea { resize: none; }
#select { color: #fff; }
#select > option { background: #324FB3; }

.row.padding { padding: 0 25%; }

.contact-title { margin: 130px 0 60px 0; }
.success-title {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.input {
    margin: 10px 0;
    padding: 0 0 10px 0;
    font-size: 1.25em;
    background: none;
    border: 0px;
    border-bottom: 1px solid #fff;
}

.input:invalid {
    border-bottom: 1px solid red;
}

.input:focus { outline: none; }

.send-btn {
    border: 1px solid white;
    background: none;
    font-size: 1.3em;
    padding: 10px 15px;
    transition: transform 500ms ease;
    cursor: pointer;
    text-decoration: none;
}

.send-btn:hover {
    transform: scale(1.04);
}

@keyframes gradBg {
    0% {
        background-position: 0% 50%;
    }

    100% {
        background-position: 80% 50%;
    }
}

@media screen and (max-width: 1200px ) {
    .row.padding {
        padding: 0 10%;
    }
}

.radio {
    position: relative;
}
.radio input[type="radio"] {
    display: none;
}
.radio input[type="radio"] ~ label::after {
    content: "";
    display: inline-block;
    width: 0em;
    height: 0em;
    left: 0.3em;
    top: 0px;
    position: absolute;
    border: 5px solid white;
    border-radius: 50%;
    transform: translateY(0.25em) scale(0);
    transition: transform 300ms ease-in-out;
}
.radio input[type="radio"]:checked ~ label::after {
    transform: translateY(0.25em) scale(1);
}
.radio label::before {
    content: "";
    display: inline-block;
    width: 1em;
    height: 1em;
    border: 2px solid white;
    border-radius: 50%;
    transform: translateY(0.25em);
}

.checkbox {
    position: relative;
}
.checkbox input[type="checkbox"] {
    display: none;
}
.checkbox input[type="checkbox"] ~ label::after {
    font-family: "Font Awesome 5 Free";
    content: "\f00c";
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    font-weight: 900;

    display: inline-block;
    left: 0.2em;
    top: -3px;
    position: absolute;
    transform: translateY(0.25em) scale(0);
    transition: transform 300ms ease-in-out;

}
.checkbox input[type="checkbox"]:checked ~ label::after {
    transform: translateY(0.25em) scale(1);
}
.checkbox label::before {
    content: "";
    display: inline-block;
    width: 1em;
    height: 1em;
    border: 2px solid white;
    transform: translateY(0.25em);

    margin-right: 0.5em;
}