body {
    background: #eee;
}

h1 {
    font-size: 3em;
}

.icon {
    display: inherit;
}

.card-header {
    position: relative;
}

.card-img {
    max-width: 100%;
}

.pos-bottom {
    object-position: bottom;
}

.card-body {

}

.card-footer {

}

.card-hr {
    border: 1px solid #efefef;
}

.card-footer-text {
    font-size: 0.9em;
}

@media screen and (max-width: 850px) {
    #card-main {
        padding: 0 !important;
    }
}