/* Homepage content */

.homepage-bg {
    z-index: -1;
    position: absolute;
    height: calc(100vh - 52px);
    width: 100%;
    object-fit: cover;
}

#title-block {
    padding-top: 35vh;
    font-size: 1.6em;
}

/* End homepage content */