/* Homepage content */

.homepage-bg {
    z-index: -1;
    position: absolute;
    height: calc(100vh - 52px);
    width: 100%;
    object-fit: cover;
}

#title-block {
    width: 100%;
    position: absolute;
    margin-top: 30vh;
}

#title {
    font-weight: bold;
    font-size: 3em;
    text-align: center;
    margin: 0;
}

#sub-title {
    font-size: 1.8em;
    text-align: center;
}

/* End homepage content */