* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif; /* Custom font */
}

html, body {
    margin: 0;
    color: #252525;
}

.text-primary {
    color: #FF7954;
}

.text-secondary {
    /*color: ;*/
}

.bg-primary {
    background: #252525;
}

.bg-secondary {
    /*background: ;*/
}

/* grid */
.row {
    padding: 0 1em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.row [class*="col-"] { padding: 1em; }
.row.no-gutter [class*="col-"] { padding: 0; }
.row.no-gutter { padding: 0px; }

.space-around { justify-content: space-around; }
.space-between { justify-content: space-between; }

.col-1 { flex-basis: calc(100%/12*1); }
.col-2 { flex-basis: calc(100%/12*2); }
.col-3 { flex-basis: calc(100%/12*3); }
.col-4 { flex-basis: calc(100%/12*4); }
.col-5 { flex-basis: calc(100%/12*5); }
.col-6 { flex-basis: calc(100%/12*6); }
.col-7 { flex-basis: calc(100%/12*7); }
.col-8 { flex-basis: calc(100%/12*8); }
.col-9 { flex-basis: calc(100%/12*9); }
.col-10 { flex-basis: calc(100%/12*10); }
.col-11 { flex-basis: calc(100%/12*11); }
.col-12 { flex-basis: calc(100%/12*12); }
.hide { display: none; }

@media screen and (min-width: 576px) {
    .col-sm-1 { flex-basis: calc(100%/12*1); }
    .col-sm-2 { flex-basis: calc(100%/12*2); }
    .col-sm-3 { flex-basis: calc(100%/12*3); }
    .col-sm-4 { flex-basis: calc(100%/12*4); }
    .col-sm-5 { flex-basis: calc(100%/12*5); }
    .col-sm-6 { flex-basis: calc(100%/12*6); }
    .col-sm-7 { flex-basis: calc(100%/12*7); }
    .col-sm-8 { flex-basis: calc(100%/12*8); }
    .col-sm-9 { flex-basis: calc(100%/12*9); }
    .col-sm-10 { flex-basis: calc(100%/12*10); }
    .col-sm-11 { flex-basis: calc(100%/12*11); }
    .col-sm-12 { flex-basis: calc(100%/12*12); }
    .sm-hide { display: none; }
}

@media screen and (min-width: 768px) {
    .col-md-1 { flex-basis: calc(100%/12*1); }
    .col-md-2 { flex-basis: calc(100%/12*2); }
    .col-md-3 { flex-basis: calc(100%/12*3); }
    .col-md-4 { flex-basis: calc(100%/12*4); }
    .col-md-5 { flex-basis: calc(100%/12*5); }
    .col-md-6 { flex-basis: calc(100%/12*6); }
    .col-md-7 { flex-basis: calc(100%/12*7); }
    .col-md-8 { flex-basis: calc(100%/12*8); }
    .col-md-9 { flex-basis: calc(100%/12*9); }
    .col-md-10 { flex-basis: calc(100%/12*10); }
    .col-md-11 { flex-basis: calc(100%/12*11); }
    .col-md-12 { flex-basis: calc(100%/12*12); }
    .md-hide { display: none; }
}

@media screen and (min-width: 992px) {
    .col-lg-1 { flex-basis: calc(100%/12*1); }
    .col-lg-2 { flex-basis: calc(100%/12*2); }
    .col-lg-3 { flex-basis: calc(100%/12*3); }
    .col-lg-4 { flex-basis: calc(100%/12*4); }
    .col-lg-5 { flex-basis: calc(100%/12*5); }
    .col-lg-6 { flex-basis: calc(100%/12*6); }
    .col-lg-7 { flex-basis: calc(100%/12*7); }
    .col-lg-8 { flex-basis: calc(100%/12*8); }
    .col-lg-9 { flex-basis: calc(100%/12*9); }
    .col-lg-10 { flex-basis: calc(100%/12*10); }
    .col-lg-11 { flex-basis: calc(100%/12*11); }
    .col-lg-12 { flex-basis: calc(100%/12*12); }
    .lg-hide { display: none; }
}

@media screen and (min-width: 1200px) {
    .col-xl-1 { flex-basis: calc(100%/12*1); }
    .col-xl-2 { flex-basis: calc(100%/12*2); }
    .col-xl-3 { flex-basis: calc(100%/12*3); }
    .col-xl-4 { flex-basis: calc(100%/12*4); }
    .col-xl-5 { flex-basis: calc(100%/12*5); }
    .col-xl-6 { flex-basis: calc(100%/12*6); }
    .col-xl-7 { flex-basis: calc(100%/12*7); }
    .col-xl-8 { flex-basis: calc(100%/12*8); }
    .col-xl-9 { flex-basis: calc(100%/12*9); }
    .col-xl-10 { flex-basis: calc(100%/12*10); }
    .col-xl-11 { flex-basis: calc(100%/12*11); }
    .col-xl-12 { flex-basis: calc(100%/12*12); }
    .xl-hide { display: none; }
}

/* end grid */

/* widths and heights */

.w-33 { width: 33%; }
.w-66 { width: 66%; }

.w-10 { width: 10%; }
.w-20 { width: 20%; }
.w-30 { width: 30%; }
.w-40 { width: 40%; }
.w-60 { width: 60%; }
.w-70 { width: 70%; }
.w-80 { width: 80%; }
.w-90 { width: 90%; }

.w-25 { width: 25%; }
.w-50 { width: 50%; }
.w-75 { width: 75%; }
.w-100 { width: 100%; }

.h-33 { height: 33%; }
.h-66 { height: 66%; }

.h-10 { height: 10%; }
.h-20 { height: 20%; }
.h-30 { height: 30%; }
.h-40 { height: 40%; }
.h-60 { height: 60%; }
.h-70 { height: 70%; }
.h-80 { height: 80%; }
.h-90 { height: 90%; }

.h-25 { height: 25%; }
.h-50 { height: 50%; }
.h-75 { height: 75%; }
.h-100 { height: 100%; }

/* end widths and heights */

/* text utils */

.text-white { color: #FFFFFF; }

.text-center { text-align: center; }
.text-left { text-align: left; }
.text-right { text-align: right; }
.text-justify { text-align: justify; }

/* end text utils */

/* Menu */

nav.menu a {
    text-decoration: none;
    color: #fff;
}

nav.menu .menu-items {
    position: fixed;
    top: 48.8px;
    width: 100%;

    height: 0;
    overflow: hidden;
    transition: height 2400ms linear;
}

nav.menu ul {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
nav.menu ul li {
    background: #252525;
    transform: rotateX(90deg);
    transform-origin: bottom;

    transition: transform 300ms ease-in-out;
}
nav.menu ul li:nth-child(2) {
    transition: transform 300ms 300ms ease-in-out;
}
nav.menu ul li:nth-child(3) {
    transition: transform 300ms 600ms ease-in-out;
}
nav.menu ul li:nth-child(4) {
    transition: transform 300ms 900ms ease-in-out;
}
nav.menu ul li:nth-child(5) {
    transition: transform 300ms 1200ms ease-in-out;
}
nav.menu ul li:nth-last-child(1) {
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.75);
}
nav.menu ul li a {
    display: block;
    padding: 1em;
    position: relative;
}
nav.menu ul li a::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #FF7954;
    z-index: -1;

    transition: width 300ms ease-in-out;
}
nav.menu ul li:nth-child(odd) a::before {
    left: initial;
    right: 0;
}
nav.menu ul li:hover a::before, nav.menu ul li.active a::before {
    width: 100%;
}

nav.menu {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;

    background: #252525;

    /* background: linear-gradient(to right, black , #010147); */
    /* background: linear-gradient(to left, #000 75% , #324FB3); */
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.75);
    z-index: 999;
}

/* logo */

nav.menu #logo {
    background: #FF7954;
    width: 60px;

    transition: width 300ms ease-in-out;
}
nav.menu #logo a {
    display: block;
    padding: 0.8em 0.5em;
}
nav.menu #logo:hover {
    width: 125px;
}
nav.menu #logo span.default {
    display: inline-block;
}
nav.menu #logo span.fade-in {
    overflow: hidden;
    display: inline-block;
    width: 0;
    transition: width 300ms ease-in-out, opacity 300ms 300ms ease-in-out, transform 300ms 300ms ease-in-out;
    opacity: 0;
    transform: translateY(100%);
}
/* nav.menu #logo span.fade-in:nth-last-child(1) {
    transition: width 300ms ease-in-out, opacity 300ms 600ms ease-in-out, transform 300ms 600ms ease-in-out;
} */
nav.menu #logo:hover span.fade-in {
    width: 32px;
    opacity: 1;
    transform: translateY(4px);
}
/* end logo */

/* hamburger menu */
#hamburger {
    display: none;
}
#hamburger:checked ~ .menu-items {
    height: 100%;
}
#hamburger:checked ~ .hamburger-label .hamburger .burger:nth-child(1) {
    transform: translateY(16px) rotate(45deg);
}
#hamburger:checked ~ .hamburger-label .hamburger .burger:nth-child(3) {
    transform: translateY(-10px) rotate(-45deg);
}
#hamburger:checked ~ .menu-items ul li {
    transform-origin: top;
    transform: rotateX(0deg);
}
#hamburger:checked ~ .hamburger-label .hamburger .burger:nth-child(2) {
    transform: translateX(50px);
    opacity: 0;
}
nav.menu .hamburger {
    padding: 8px;
    cursor: pointer;
}
nav.menu .hamburger:hover .burger {
    transform: translateX(-5px);
}
nav.menu .hamburger:hover .burger:nth-child(2) {
    transform: translateX(5px);
}
nav.menu .burger {
    height: 5px;
    width: 2.5em;
    margin-bottom: 8px;
    background: #fff;
    transition: transform 300ms ease-in-out, opacity 300ms ease-in-out;
}
nav.menu .hamburger .burger:nth-child(3) {
    margin-bottom: 0;
}

/* end hamburger menu */

main {
    margin-top: 52px; /* fixes menu over content */
}

@media screen and (min-width: 576px) {
    nav.menu ul {
        flex-direction: row;
    }
    nav.menu .menu-items {
        width: 420px;
        position: initial;
        top: 0;
        box-shadow: none;
        display: initial;
        height: initial;
    }
    nav.menu ul li {
        transform: rotateX(0deg);
    }
    nav.menu ul li:nth-last-child(1) {
        box-shadow: none;
    }
    nav.menu ul li a::before {
        height: 0;
        width: 100%;
        left: 0;
        top: 0;

        transition: height 300ms ease-in-out;
    }
    nav.menu ul li:nth-child(odd) a::before {
        top: initial;
        bottom: 0;
    }
    nav.menu ul li:hover a::before, nav.menu ul li.active a::before {
        height: 100%;
    }
}

/* end menu */