* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif; /* Custom font */
}

html, body {
    margin: 0;
    color: #252525;
    overflow-x: hidden;
    min-height: 100vh;
}

main {
    min-height: calc(100vh - 52px);
}

footer {
    background: #252525;
}

.footer-hr {
border: 1px solid #fff;
height: 1px;
}

.footer-padding { padding: 40px 8%; }

.footer-nav-item {
display: block;
padding: 3px 0 !important;
}
/* 
.footer-icon {
    float: right;
} */

.footer-icon > a {
    color: #FF7954;
}

.next-page {
    text-decoration: none;
    font-size: 2.1em;
    display: inline-block;
}

.next-page::after {
    content: "";
    display: block;
    background: #FF7954;
    height: 3px;
    width: 0;
    transition: width 300ms ease-in-out;
}

.next-page:hover::after {
    width: 100%;
}

#snapchat-icon:hover {
    transition: color 1s ease-out;
    color: rgb(255, 252, 0);
}

#facebook-icon:hover {
    transition: color 1s ease-out;
    color: #4267B2;
}

#github-icon:hover {
    transition: color 1s ease-out;
    color: #fff;
}

#footer-nav > ul > li {
    list-style-type: none;
    padding: 5px 0;
}

#footer-nav > ul > li > a {
    text-decoration: none;
    transition: padding-left 300ms ease-in-out;
}

#footer-nav > ul > li > a:hover {
    padding-left: 8px;
}



.text-primary { color: #FF7954; }

.text-secondary {
    /*color: ;*/
}

.text-white { color: #FFFFFF; }


.bg-primary { background: #324FB3; }

.bg-secondary {
    background: #FF7954;
}

/* display */

.d-block { display: block; }
.d-inline { display: inline; }
.d-inline-block { display: inline-block; }
.d-initial { display: initial; }
.d-flex { display: flex; }

/* end display */

/* grid */
.row {
    padding: 0 1em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.row [class*="col-"] { padding: 1em; }
.row.no-gutter [class*="col-"] { padding: 0; }
.row.no-gutter { padding: 0px; }

.center         { justify-content: center; }
.space-around   { justify-content: space-around; }
.space-between  { justify-content: space-between; }
.align-items-stretch { align-items: stretch; }
.flex-end { justify-content: flex-end; }
.flex-start { justify-content: flex-start; }

.flex-row { flex-direction: row; }
.flex-colmn { flex-direction: column; }

.row [class*="col-"] > .row {
    padding: 0;
    /* margin: -1em; */
}

.col-1  { flex-basis: calc(100%/12*1); }
.col-2  { flex-basis: calc(100%/12*2); }
.col-3  { flex-basis: calc(100%/12*3); }
.col-4  { flex-basis: calc(100%/12*4); }
.col-5  { flex-basis: calc(100%/12*5); }
.col-6  { flex-basis: calc(100%/12*6); }
.col-7  { flex-basis: calc(100%/12*7); }
.col-8  { flex-basis: calc(100%/12*8); }
.col-9  { flex-basis: calc(100%/12*9); }
.col-10 { flex-basis: calc(100%/12*10); }
.col-11 { flex-basis: calc(100%/12*11); }
.col-12 { flex-basis: calc(100%/12*12); }
.hide   { display: none; }
.show   { display: initial; }

@media screen and (min-width: 576px) {
    .col-sm-1   { flex-basis: calc(100%/12*1); }
    .col-sm-2   { flex-basis: calc(100%/12*2); }
    .col-sm-3   { flex-basis: calc(100%/12*3); }
    .col-sm-4   { flex-basis: calc(100%/12*4); }
    .col-sm-5   { flex-basis: calc(100%/12*5); }
    .col-sm-6   { flex-basis: calc(100%/12*6); }
    .col-sm-7   { flex-basis: calc(100%/12*7); }
    .col-sm-8   { flex-basis: calc(100%/12*8); }
    .col-sm-9   { flex-basis: calc(100%/12*9); }
    .col-sm-10  { flex-basis: calc(100%/12*10); }
    .col-sm-11  { flex-basis: calc(100%/12*11); }
    .col-sm-12  { flex-basis: calc(100%/12*12); }
    .sm-hide    { display: none; }
    .sm-show    { display: initial; }
}

@media screen and (min-width: 768px) {
    .col-md-1   { flex-basis: calc(100%/12*1); }
    .col-md-2   { flex-basis: calc(100%/12*2); }
    .col-md-3   { flex-basis: calc(100%/12*3); }
    .col-md-4   { flex-basis: calc(100%/12*4); }
    .col-md-5   { flex-basis: calc(100%/12*5); }
    .col-md-6   { flex-basis: calc(100%/12*6); }
    .col-md-7   { flex-basis: calc(100%/12*7); }
    .col-md-8   { flex-basis: calc(100%/12*8); }
    .col-md-9   { flex-basis: calc(100%/12*9); }
    .col-md-10  { flex-basis: calc(100%/12*10); }
    .col-md-11  { flex-basis: calc(100%/12*11); }
    .col-md-12  { flex-basis: calc(100%/12*12); }
    .md-hide    { display: none; }
    .md-show    { display: initial; }
}

@media screen and (min-width: 992px) {
    .col-lg-1   { flex-basis: calc(100%/12*1); }
    .col-lg-2   { flex-basis: calc(100%/12*2); }
    .col-lg-3   { flex-basis: calc(100%/12*3); }
    .col-lg-4   { flex-basis: calc(100%/12*4); }
    .col-lg-5   { flex-basis: calc(100%/12*5); }
    .col-lg-6   { flex-basis: calc(100%/12*6); }
    .col-lg-7   { flex-basis: calc(100%/12*7); }
    .col-lg-8   { flex-basis: calc(100%/12*8); }
    .col-lg-9   { flex-basis: calc(100%/12*9); }
    .col-lg-10  { flex-basis: calc(100%/12*10); }
    .col-lg-11  { flex-basis: calc(100%/12*11); }
    .col-lg-12  { flex-basis: calc(100%/12*12); }
    .lg-hide    { display: none; }
    .lg-show    { display: initial; }
}

@media screen and (min-width: 1200px) {
    .col-xl-1   { flex-basis: calc(100%/12*1); }
    .col-xl-2   { flex-basis: calc(100%/12*2); }
    .col-xl-3   { flex-basis: calc(100%/12*3); }
    .col-xl-4   { flex-basis: calc(100%/12*4); }
    .col-xl-5   { flex-basis: calc(100%/12*5); }
    .col-xl-6   { flex-basis: calc(100%/12*6); }
    .col-xl-7   { flex-basis: calc(100%/12*7); }
    .col-xl-8   { flex-basis: calc(100%/12*8); }
    .col-xl-9   { flex-basis: calc(100%/12*9); }
    .col-xl-10  { flex-basis: calc(100%/12*10); }
    .col-xl-11  { flex-basis: calc(100%/12*11); }
    .col-xl-12  { flex-basis: calc(100%/12*12); }
    .xl-hide    { display: none; }
    .xl-show    { display: initial; }
}

/* end grid */

/* widths and heights */

.w-33 { width: 33%; }
.w-66 { width: 66%; }

.w-10 { width: 10%; }
.w-20 { width: 20%; }
.w-30 { width: 30%; }
.w-40 { width: 40%; }
.w-60 { width: 60%; }
.w-70 { width: 70%; }
.w-80 { width: 80%; }
.w-90 { width: 90%; }

.w-25 { width: 25%; }
.w-50 { width: 50%; }
.w-75 { width: 75%; }
.w-100 { width: 100%; }

.h-33 { height: 33%; }
.h-66 { height: 66%; }

.h-10 { height: 10%; }
.h-20 { height: 20%; }
.h-30 { height: 30%; }
.h-40 { height: 40%; }
.h-60 { height: 60%; }
.h-70 { height: 70%; }
.h-80 { height: 80%; }
.h-90 { height: 90%; }

.h-25 { height: 25%; }
.h-50 { height: 50%; }
.h-75 { height: 75%; }
.h-100 { height: 100%; }

/* end widths and heights */

/* text utils */

.text-center { text-align: center; }
.text-left { text-align: left; }
.text-right { text-align: right; }
.text-justify { text-align: justify; }

/* end text utils */

/* Menu */

/* logo */

nav.menu #logo {
    background: #FF7954;
    width: 60px;

    transition: width 300ms ease-in-out;
}
nav.menu #logo a {
    display: block;
    padding: 0.8em 0.5em;
}
nav.menu #logo:hover {
    width: 125px;
}
nav.menu #logo span.default {
    display: inline-block;
}
nav.menu #logo span.fade-in {
    overflow: hidden;
    display: inline-block;
    width: 0;
    transition: width 300ms ease-in-out, opacity 300ms 300ms ease-in-out, transform 300ms 300ms ease-in-out;
    opacity: 0;
    transform: translateY(100%);
}
nav.menu #logo:hover span.fade-in {
    width: 32px;
    opacity: 1;
    transform: translateY(4px);
}
/* end logo */

/* hamburger menu */
#hamburger {
    display: none;
}
#hamburger:checked ~ .menu-items {
    height: 100%;
}
#hamburger:checked ~ .hamburger-label .hamburger .burger:nth-child(1) {
    transform: translateY(12px) rotate(45deg);
}
#hamburger:checked ~ .hamburger-label .hamburger .burger:nth-child(3) {
    transform: translateY(-14px) rotate(-45deg);
}
#hamburger:checked ~ .menu-items ul li {
    transform-origin: top;
    transform: rotateX(0deg);
}
#hamburger:checked ~ .hamburger-label .hamburger .burger:nth-child(2) {
    transform: translateX(50px);
    opacity: 0;
}
nav.menu .hamburger {
    padding: 10.5px;
    cursor: pointer;
}
nav.menu .hamburger:hover .burger {
    transform: translateX(-5px);
}
nav.menu .hamburger:hover .burger:nth-child(2) {
    transform: translateX(5px);
}
nav.menu .burger {
    height: 5px;
    width: 2.5em;
    margin-bottom: 8px;
    background: #fff;
    transition: transform 300ms ease-in-out, opacity 300ms ease-in-out;
}
nav.menu .hamburger .burger:nth-child(3) {
    margin-bottom: 0;
}

/* end hamburger menu */

nav.menu a {
    text-decoration: none;
    color: #fff;
}

nav.menu .menu-items {
    position: fixed;
    top: 48.8px;
    width: 100%;

    height: 0;
    /* overflow: hidden; */
    transition: height 2400ms linear;
}

nav.menu ul {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
nav.menu ul li {
    position: relative;
    background: #252525;
    transform: rotateX(90deg);
    transform-origin: bottom;

    transition: transform 200ms ease-in-out;
}
nav.menu ul li:nth-child(2) {
    transition: transform 200ms 200ms ease-in-out;
}
nav.menu ul li:nth-child(3) {
    transition: transform 200ms 400ms ease-in-out;
}
nav.menu ul li:nth-child(4) {
    transition: transform 200ms 600ms ease-in-out;
}
nav.menu ul li:nth-child(5) {
    transition: transform 200ms 800ms ease-in-out;
}
nav.menu ul li:nth-last-child(1) {
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.75);
}
nav.menu ul li a,
nav.menu .menu-items ul li label {
    display: block;
    padding: 1em;
    position: relative;
    color: white;
    cursor: pointer;
}
nav.menu ul li a::before,
nav.menu .menu-items ul li label::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #FF7954;
    z-index: -1;

    transition: width 300ms ease-in-out;
}
nav.menu ul li:nth-child(odd) a::before {
    left: initial;
    right: 0;
}
nav.menu ul > li:hover > a::before,
nav.menu ul > li.active > a::before,
nav.menu .menu-items ul > li:hover > label::before,
nav.menu .menu-items ul > li.active > label::before,
nav.menu .menu-items ul li > input:checked ~ label::before {
    width: 100%;
}

nav.menu {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;

    background: #252525;

    /* background: linear-gradient(to right, black , #010147); */
    /* background: linear-gradient(to left, #000 75% , #324FB3); */
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.75);
    z-index: 999;
}

nav.menu .menu-items ul li > input {
    display: none;
}
nav.menu .menu-items ul li > ul {
    display: none;
    /* display: flex; */
    flex-direction: column;
    height: 0%;
    overflow: hidden;

    transition: height 300ms ease-in-out;
}
nav.menu .menu-items ul li > ul > li a {
    padding-left: 1.5em;
}
nav.menu .menu-items ul li > input:checked ~ ul {
    display: flex;
    height: 100%;
}

main {
    margin-top: 52px; /* fixes menu over content */
}

@media screen and (min-width: 576px) {
    nav.menu ul {
        flex-direction: row;
    }
    nav.menu .menu-items {
        width: 420px;
        position: initial;
        top: 0;
        box-shadow: none;
        display: initial;
        height: initial;
    }
    nav.menu ul li {
        transform: rotateX(0deg);
    }
    nav.menu ul li:nth-last-child(1) {
        box-shadow: none;
    }
    nav.menu ul li a::before,
    nav.menu .menu-items ul li label::before {
        height: 0;
        width: 100%;
        left: 0;
        top: 0;

        transition: height 300ms ease-in-out;
    }
    nav.menu ul li:nth-child(odd) a::before {
        top: initial;
        bottom: 0;
    }
    nav.menu ul > li:hover > a::before,
    nav.menu ul > li.active > a::before,
    nav.menu .menu-items ul > li:hover > label::before,
    nav.menu .menu-items ul > li.active > label::before,
    nav.menu .menu-items ul li > input:checked ~ label::before {
        height: 100%;
    }

    nav.menu .menu-items ul li > ul {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 52px;
        height: 0%;
        overflow: hidden;
    
        transition: height 300ms ease-in-out;
    }
    nav.menu .menu-items ul li > ul > li a {
        padding-left: 1em;
    }
    nav.menu .menu-items ul li > input:checked ~ ul {
        display: flex;
        height: 400%;
    }
}

/* end menu */

/* animations */
@keyframes left-to-pos {
    from { transform: translateX(-25%); }
    to { transform: translateX(0); }
}
.ani.left-to-pos {
    transform: translateX(-25%);
    animation-name: left-to-pos;
}
.ani.left-to-pos.reverse {
    transform: translateX(0%);
}
@keyframes right-to-pos {
    from { transform: translateX(25%); }
    to { transform: translateX(0); }
}
.ani.right-to-pos {
    transform: translateX(25%);
    animation-name: right-to-pos;
}
.ani.right-to-pos.reverse {
    transform: translateX(0%);
}
@keyframes bottom-to-pos {
    from { transform: translateY(25%); }
    to { transform: translateY(0); }
}
.ani.bottom-to-pos {
    transform: translateY(25%);
    animation-name: bottom-to-pos;
}
.ani.bottom-to-pos.reverse {
    transform: translateY(0%);
}
@keyframes top-to-pos {
    from { transform: translateY(-100%); }
    to { transform: translateY(0); }
}
.ani.top-to-pos {
    transform: translateY(-100%);
    animation-name: top-to-pos;
}
.ani.top-to-pos.reverse {
    transform: translateY(0%);
}

@keyframes fade {
    from { opacity: 0; }
    to { opacity: 1; }
}
.ani.fade {
    opacity: 0;
    animation-name: fade;
}
.ani.fade.reverse { opacity: 1; }

@keyframes spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}
.ani.spin { animation-name: spin; }
.ani.spin.reverse { transform: rotate(360deg); }

@keyframes zoom {
    from { transform: scale(0); }
    to { transform: scale(1); }
}
.ani.zoom { animation-name: zoom; }
.ani.zoom.reverse { transform: scale(1); }

.ani {
    animation-fill-mode: forwards; /* last keyframe is final css */
    animation-timing-function: ease-in-out; /* default animation */
}

.ani.onhover { animation-play-state: paused; }
.ani.onhover:hover { animation-play-state: running; }

.ani.reverse { animation-direction: reverse; }

.ani.duration-03 { animation-duration: 300ms; }
.ani.duration-05 { animation-duration: 500ms; }
.ani.duration-1 { animation-duration: 1s; }
.ani.duration-15 { animation-duration: 1.5s; }
.ani.duration-2 { animation-duration: 2s; }
.ani.duration-3 { animation-duration: 3s; }
.ani.duration-4 { animation-duration: 4s; }

.ani.delay-05 { animation-delay: 500ms; }
.ani.delay-1 { animation-delay: 1s; }
.ani.delay-2 { animation-delay: 2s; }
.ani.delay-3 { animation-delay: 3s; }
.ani.delay-4 { animation-delay: 4s; }

.ani.infinity { animation-iteration-count: infinite; }

.ani.linear { animation-timing-function: linear; }
.ani.ease-in-out { animation-timing-function: ease-in-out; }
.ani.bounce { animation-timing-function: cubic-bezier(.1,-0.09,.27,1.55); }

/* end animations */
/* card */

.card {
    padding: 1em;
    border-radius: 0.3em;
    background: white;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.card.hover {
    transition: transform 0.8s cubic-bezier(.25,.8,.25,1), box-shadow 0.8s cubic-bezier(.25,.8,.25,1);
}
.card.hover:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 8px 8px rgba(0,0,0,0.22);
    transform: scale(1.02);
}

.card-header {
    position: relative;
}

.card-img {
    height: 300px;
    width: 100%;
    object-fit: cover;
}

.card-body {

}

.card-footer {

}

.card-hr {
    border: 1px solid #efefef;
}

.card-footer-text {
    font-size: 0.9em;
}

/* end card */

/* margins  */
.ml-auto, .mx-auto, .m-auto { margin-left: auto !important; }
.mr-auto, .mx-auto, .m-auto { margin-right: auto !important; }
.mt-auto, .my-auto, .m-auto { margin-top: auto !important; }
.mb-auto, .my-auto, .m-auto { margin-bottom: auto !important; }

.ml-0, .mx-0, .m-0 { margin-left: 0 !important; }
.ml-1, .mx-1, .m-1 { margin-left: calc(1em * 0.25) !important; }
.ml-2, .mx-2, .m-2 { margin-left: calc(1em * 0.5) !important; }
.ml-3, .mx-3, .m-3 { margin-left: calc(1em * 1) !important; }
.ml-4, .mx-4, .m-4 { margin-left: calc(1em * 1.5) !important; }
.ml-5, .mx-5, .m-5 { margin-left: calc(1em * 3) !important; }

.mr-0, .mx-0, .m-0 { margin-right: 0 !important; }
.mr-1, .mx-1, .m-1 { margin-right: calc(1em * 0.25) !important; }
.mr-2, .mx-2, .m-2 { margin-right: calc(1em * 0.5) !important; }
.mr-3, .mx-3, .m-3 { margin-right: calc(1em * 1) !important; }
.mr-4, .mx-4, .m-4 { margin-right: calc(1em * 1.5) !important; }
.mr-5, .mx-5, .m-5 { margin-right: calc(1em * 3) !important; }

.mt-0, .my-0, .m-0 { margin-top: 0 !important; }
.mt-1, .my-1, .m-1 { margin-top: calc(1em * 0.25) !important; }
.mt-2, .my-2, .m-2 { margin-top: calc(1em * 0.5) !important; }
.mt-3, .my-3, .m-3 { margin-top: calc(1em * 1) !important; }
.mt-4, .my-4, .m-4 { margin-top: calc(1em * 1.5) !important; }
.mt-5, .my-5, .m-5 { margin-top: calc(1em * 3) !important; }

.mb-0, .my-0, .m-0 { margin-bottom: 0 !important; }
.mb-1, .my-1, .m-1 { margin-bottom: calc(1em * 0.25) !important; }
.mb-2, .my-2, .m-2 { margin-bottom: calc(1em * 0.5) !important; }
.mb-3, .my-3, .m-3 { margin-bottom: calc(1em * 1) !important; }
.mb-4, .my-4, .m-4 { margin-bottom: calc(1em * 1.5) !important; }
.mb-5, .my-5, .m-5 { margin-bottom: calc(1em * 3) !important; }

/* padding */

.pl-0, .px-0, .p-0 { padding-left: 0 !important; }
.pl-1, .px-1, .p-1 { padding-left: calc(1em * 0.25) !important; }
.pl-2, .px-2, .p-2 { padding-left: calc(1em * 0.5) !important; }
.pl-3, .px-3, .p-3 { padding-left: calc(1em * 1) !important; }
.pl-4, .px-4, .p-4 { padding-left: calc(1em * 1.5) !important; }
.pl-5, .px-5, .p-5 { padding-left: calc(1em * 3) !important; }

.pr-0, .px-0, .p-0 { padding-right: 0 !important; }
.pr-1, .px-1, .p-1 { padding-right: calc(1em * 0.25) !important; }
.pr-2, .px-2, .p-2 { padding-right: calc(1em * 0.5) !important; }
.pr-3, .px-3, .p-3 { padding-right: calc(1em * 1) !important; }
.pr-4, .px-4, .p-4 { padding-right: calc(1em * 1.5) !important; }
.pr-5, .px-5, .p-5 { padding-right: calc(1em * 3) !important; }

.pt-0, .py-0, .p-0 { padding-top: 0 !important; }
.pt-1, .py-1, .p-1 { padding-top: calc(1em * 0.25) !important; }
.pt-2, .py-2, .p-2 { padding-top: calc(1em * 0.5) !important; }
.pt-3, .py-3, .p-3 { padding-top: calc(1em * 1) !important; }
.pt-4, .py-4, .p-4 { padding-top: calc(1em * 1.5) !important; }
.pt-5, .py-5, .p-5 { padding-top: calc(1em * 3) !important; }

.pb-0, .py-0, .p-0 { padding-bottom: 0 !important; }
.pb-1, .py-1, .p-1 { padding-bottom: calc(1em * 0.25) !important; }
.pb-2, .py-2, .p-2 { padding-bottom: calc(1em * 0.5) !important; }
.pb-3, .py-3, .p-3 { padding-bottom: calc(1em * 1) !important; }
.pb-4, .py-4, .p-4 { padding-bottom: calc(1em * 1.5) !important; }
.pb-5, .py-5, .p-5 { padding-bottom: calc(1em * 3) !important; }

/* end margins and paddings */

/* random utils */

.rounded { border-radius: 0.3em; }
.fit-cover { object-fit: cover; }

/* end random utils */

/* width */
::-webkit-scrollbar {
    width: 14px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}