.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.box {
    width: 400px;
    border: 1px solid;
    padding: 1em;
    margin: 1em;
    border-radius: 0.3em;
    background: white;
    opacity: 0.9;
}

.box:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 8px 8px rgba(0,0,0,0.22);
}

.icon {
    -webkit-animation: spin 4s infinite linear;
    animation-play-state: paused;
}

.icon:hover {
    -webkit-animation: spin 4s infinite linear;
    -moz-animation-play-state: running;
}

.title-margin-top {
    margin-top: 2em;
}

input[type="checkbox"]:checked + .box {
    background: green;
    height: 200px;
    width: 200px;
}

/* animation for the fontawesome icons*/
@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@media screen and (max-width: 992px) {
    .box {
        width: 420px;
    }
}